.outer {
    height: 80vh;
    min-width: 20vw;
    display: flex;
}

.outer * {
    box-sizing: border-box;
}

//--

.progress {
    $gap: 20px;
    $line-height: 20px;
    $bullet-radius: 5px;
    $line-thick: 2px;
    $strip-color: #333;
    $next-color: #666;
    $current-color: #333;
    $prev-color: #333;

    display: inline-flex;
    height: 100%;
    padding: 5vh 1vh;

    > div {
        display: flex;
        flex-direction: column;
        color: $prev-color;

        &.left {
            padding-right: $gap;
            text-align: right;

            // Line
            div {
                width: 20vh;

                &.current {
                    color: $current-color;
                    font-weight: bold;

                    //Animation Punkte
                    &:before {
                        background: $current-color;
                        padding: $bullet-radius * 2;
                        transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
                    }


                    &:after {
                        height: 0;
                        transition: height 0.2s ease-out;
                    }

                    ~ div {
                        color: $next-color;

                        //Zustand Punkte
                        &:before {
                            background: $next-color;
                            padding: -$bullet-radius * 0.5;
                        }

                        &:after {
                            height: 0;
                            transition: none;
                        }
                    }
                }

                // Dot
                &:before {
                    content: "";
                    background: $strip-color;
                    padding: $bullet-radius;
                    border-radius: 50%;
                    position: absolute;
                    right: -$gap;
                    top: $line-height/2;
                    transform: translateX(50%) translateY(-50%);
                    transition: padding 0.2s ease;
                }

                // Line die sich bewegt
                &:after {
                    content: "";
                    background: $strip-color; //rgba(0, 0, 0, 0.6);
                    border-radius: 2px;
                    position: absolute;
                    right: -$gap;
                    top: $line-height/2;
                    height: 101%;
                    width: $line-thick;
                    transform: translateX(50%);
                    transition: height 0.2s ease;
                }
            }
        }

        &.right {
            padding-left: $gap;

            div {
                &:last-of-type:after {
                    display: none;
                }

                &:after {
                    content: "";
                    background: fade_out($strip-color, 0.9); //rgba(0, 0, 0, 0.6);
                    border-radius: 2px;
                    position: absolute;
                    left: -$gap;
                    top: $line-height/2;
                    height: 101%;
                    width: 1px;
                    transform: translateX(-50%);
                }
            }
        }

        div {
            flex: 1;
            position: relative;
            line-height: $line-height;
            cursor: default;
            min-height: 30px;

            &:last-of-type {
                flex: 0;
            }
        }
    }
}
