.switch-theme-button {
  display: inline-block;
  margin: 28px;
  position: relative;
  float: right;
}

.switch {
  position: sticky;
  display: inline-block;
  margin: 28px;
  height: 24px;
  width: 190px;
  float: right;
}
