.graphic-container {
    justify-content: space-between;
    display: flex;
    width: calc(100vw - (100vw - 100%));

    .district {
        top: 0;
        margin-right: 1%;
        position: sticky;
        height: 90vh;
        display: flex;
    }

    .main-view {
        flex-basis: 67.5%;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-clip: padding-box;
        margin: 1vh 0;

        .main-view-title {
            margin: 1vw;
            display: flex;
            justify-content: center;

            .text-transition {
                font-size: 1.5em;
                font-weight: 300;
                color: #000;
            }
        }
    }

    .graphic {
        margin: 1vh 1vw;
        flex-basis: 25%;
        top: 0;
        position: sticky;
        height: 78vh;
        display: flex;

        .map {
            height: 50%;
            width: 100%;
        }
    }

    .timeline {
        background-color: white;
        min-width: 100%;
        height: 20vh;
        bottom: 0;
        position: sticky;
        overflow: hidden;
    }
}
