.main-component {
    display: block;
    width: 100%;
    height: 100vh;

    .graphic-container {
        justify-content: space-between;
        display: flex;
        width: 100%;
        height: 90%;

        .district {
            top: 0;
            margin-right: 1%;
            position: sticky;
            height: 100%;
            display: flex;
        }

        .main-view {
            flex-basis: 67.5%;
            border: 2px solid var(--color-gray-4);
            border-radius: 4px;
            margin: 1vh 0;
            flex-direction: row;
            display: flex;
            position: relative;
            flex-wrap: wrap;

            .main-view-title {
                flex: 1 1 auto;
                margin: 1vw;
                display: inline-flex;
                justify-content: center;

                .text-transition {
                    font-size: 1.5em;
                    font-weight: 300;
                    color: var(--color-black);
                }
            }

            .switch {
                display: inline-flex;
                margin: 1vw;
                height: 5vh;
                width: 220px;
                min-width: 190px;
                max-height: 30px;
            }

            .break {
                flex-basis: 100%;
                height: 0;
            }

            .main-view-bar {
                display: inline-block;
                top: 0;
                height: 75vh;
                width: calc(100% - 1vw);

                .apexcharts-yaxis-label {
                    fill: var(--color-black);
                }
            }

            .main-view-graph {
                display: block;
                width: 100%;
                height: calc(100% - 2em - 2vw);
            }
        }

        .graphic {
            margin: 1vh 1vw;
            flex-basis: 25%;
            top: 0;
            height: calc(100% - 1vh);
            position: sticky;
            display: block;

            .map {
                margin-bottom: 1vh;
                height: calc(50% - 1vh - 2px);
                width: 100%;

                .map-container {
                    height: calc(100% - 2em);
                    width: 100%;
                    border: 2px solid var(--color-gray-4);
                    border-radius: 4px;

                    .leaflet-control-zoom-in,
                    .leaflet-control-zoom-out {
                        color: var(--color-black);
                        background-color: var(--color-white);
                        border-color: var(--color-gray-4);
                    }
                    .leaflet-control-attribution {
                        background-color: var(--color-gray-5);
                        opacity: 0.8;
                        color: var(--color-black);
                    }
                }

                .info {
                    display: flex;
                    position: relative;
                    padding: 0 0;
                    justify-content: center;
                    overflow: hidden;
                }
                .info .text-transition {
                    display: inline-flex;
                    font-size: 1.2em;
                    font-weight: 300;
                    color: var(--color-black);
                }
            }

            .line-graph {
                height: calc(50% - 1vh - 2px);
                margin-top: 1vh;
                width: 100%;
                border: 2px solid var(--color-gray-4);
                border-radius: 4px;
            }
        }
    }

    .timeline {
        background-color: var(--color-white);
        min-width: 100%;
        height: 10%;
        bottom: 0;
        position: sticky;
        overflow: hidden;
    }
}
