.graphic-container {
    justify-content: space-between;
    display: flex;
    width: calc(100vw - (100vw - 100%));
}

.timeline {
    background-color: white;
    min-width: 100%;
    height: 20vh;
    bottom: 0;
    position: sticky;
    overflow: hidden;
}

.scroller {
    flex-basis: 67.5%;
}

.step {
    height: 76vh;
    margin: 1vh auto 1vh auto;
    padding: 1vh 1vw;
    border: 1px solid #333;

    p {
        text-align: center;
        padding: 1rem;
        font-size: 1.8rem;
        margin: 0;
    }
}

.graphic {
    padding: 1vh 1vw;
    flex-basis: 22.5%;
    top: 0;
    position: sticky;
    height: 78vh;
    display: flex;
}

.map {
    height: 50%;
    width: 100%;
    background-color: #333333;
}
.graph {
    height: 50%;
    width: 100%;
}

.district {
    top: 0;
    margin-right: 2.5%;
    position: sticky;
    height: 80vh;
    display: flex;
}
