.graphicContainer {
    padding: 40vh 2vh 20vh;
    display: flex;
    justify-content: space-between;
}

.scroller {
    flex-basis: 35%;
}

.step {
    margin: 0 auto 3rem auto;
    padding: 180px 0;
    border: 1px solid #333;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    margin: 0;
}

/* Fixed container*/
.graphic {
    flex-basis: 50%;
    position: sticky;
    width: 80vh;
    height: 80vh;
    top: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
