.outer {
  height: 20vh;
  min-width: 100vw;
  display: flex;
}

.outer * {
  box-sizing: border-box;
}

.progress {
  $gap: 20px;
  $line-height: 20px;
  $bullet-radius: 5px;
  $line-thick: 2px;
  $strip-color: #333;
  $next-color: #666;
  $current-color: #333;
  $prev-color: #333;

  display: inline-flex;
  height: 100%;
  padding: 9vh 8vw; //Todo je nach Anzahl der Attribute

  > div {
    display: flex;
    flex-direction: row;
    color: $prev-color;

    &.left {
      text-align: left;

      // Line
      div {
        width: 12vw; //Abhängig von Padding

        &.current {
          color: $current-color;
          font-weight: bold;

          &:before {
            background: $current-color;
            padding: $bullet-radius * 2;
            transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
          }

          &:after {
            height: 0;
            transition: height 0.2s ease-out;
          }

          ~ div {
            color: $next-color;

            &:before {
              background: $next-color;
              padding: -$bullet-radius * 0.5;
            }

            &:after { //Linie die vorgezeichnet ist
              height: 2%;
              transform: translateX(-100%);
              transition: none;
            }
          }
        }

        // Dot
        &:before {
          content: "";
          background: $strip-color;
          padding: $bullet-radius;
          position: absolute;
          top: $line-height/2;
          transform: translateX(50%) translateY(-50%);
          transition: padding 0.2s ease;
        }

        // Line
        &:after {
          content: "";
          background: $strip-color; //rgba(0, 0, 0, 0.6);
          border-radius: 2px;
          position: absolute;
          right: -$gap/2; //Linie insgesamt verschieben
          top: $line-height/2;
          width: 100%;
          height: $line-thick;
          transition: height 0.2s ease;
        }
      }
    }

    &.right {
      padding-left: $gap;

      div {

        &:after {
          content: "";
          background: fade_out($strip-color, 0.1); //rgba(0, 0, 0, 0.6);
          border-radius: 2px;
          position: absolute;
          top: $line-height/2;
          width: 50px;
          height: 10%;
        }
      }
    }

    div {
      flex: 1;
      position: relative;
      line-height: $line-height;
      cursor: default;
      min-height: 30px;
    }

    &:last-of-type {
      flex: 0;
    }
  }
}
