.timeline-outer {
    height: 100%;
    display: flex;
    justify-content: space-between;

    .play-button {
        position: relative;
        background-color: transparent;
        display: inline-flex;
        height: 20px;
        top: -6px;
        border-color: transparent transparent transparent var(--color-black);
        transition: 100ms ease;
        transition-property: border-bottom-width, border-top-width;
        will-change: border-width;
        cursor: pointer;
        margin: auto 0;

        // play state
        border-style: solid;
        border-width: 10px 0 10px 15px;

        // paused state
        &.pause {
            border-style: double;
            border-width: 0 0 0 15px;
        }
    }
}

.timeline-outer * {
    box-sizing: border-box;
}

.timeline-progress {
    $gap: 20px;
    $line-height: 20px;
    $bullet-radius: 5px;
    $line-thick: 2px;
    $strip-color: var(--color-black);
    $next-color: var(--color-gray-1);
    $current-color: var(--color-black);
    $prev-color: var(--color-black);

    display: inline-flex;
    justify-content: flex-end;
    margin: auto 0 auto 0;
    width: 105%;
    flex-direction: column;

    > div {
        display: flex;
        flex-direction: row;
        color: $prev-color;

        // Selected Line
        &.below {
            padding-top: $gap;

            // Line
            div {
                position: relative;
                width: 100%;
                font-size: 1em;
                pointer-events: none;

                p {
                    font-family: "Liberation Mono", monospace;
                    margin: 0;
                    cursor: pointer;
                    display: inline-block;
                    pointer-events: all;
                    position: relative;
                }

                &.current {
                    color: $current-color;
                    font-weight: bold;

                    &:before {
                        background: $current-color;
                        padding: $bullet-radius * 2.5 2px;
                        transform: translateY(-30%) translateX(-50%);
                        transition: 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
                        transition-property: padding-top, padding-left, padding-right, padding-top, transform;
                    }

                    &:after {
                        width: 0;
                        transition: width 0.2s ease-out;
                    }

                    ~ div {
                        color: $next-color;

                        &:before {
                            background: $next-color;
                            padding: -$bullet-radius * 0.5;
                        }

                        &:after {
                            //Linie die vorgezeichnet ist
                            width: 0;
                            transition: none;
                        }
                    }
                }

                // Dot
                &:before {
                    content: "";
                    background: $strip-color;
                    padding: $bullet-radius 1px;
                    position: absolute;
                    top: -$gap;
                    transform: translateX(-50%) translateY(-35%);
                    transition: padding 0.2s ease;
                    left: $gap/1.1;
                    cursor: pointer;
                    pointer-events: all;
                    border-radius: 4px;
                }

                // Line
                &:after {
                    content: "";
                    background: $strip-color; //rgba(0, 0, 0, 0.6);
                    border-radius: 2px;
                    position: absolute;
                    top: -$gap;
                    left: $gap/1.1;
                    width: 101%;
                    height: $line-thick;
                    transition: width 0.2s ease;
                }
            }
        }

        // Transparent Line
        &.above {
            position: relative;
            width: 100%;
            top: 24px;

            div {
                &:after {
                    content: "";
                    background: var(--color-gray-4);
                    border-radius: 2px;
                    position: relative;
                    width: calc(100% + 10px);
                    left: -30px;
                    height: 1px;
                    transform: translateY(50%);
                    display: block;
                }
            }
        }

        div {
            flex: 1;
            position: relative;
            cursor: default;

            &:last-of-type {
                flex: 0;
            }
        }
    }
}
