.touter {
  height: 20vh;
  min-width: 100vw;
  display: flex;
}

.touter * {
  box-sizing: border-box;
}

.tprogress {
  $gap: 20px;
  $line-height: 20px;
  $bullet-radius: 5px;
  $line-thick: 2px;
  $strip-color: #333;
  $next-color: #666;
  $current-color: #333;
  $prev-color: #333;

  display: inline-flex;
  height: 100%;
  padding: 9vh 10vw; //Todo je nach Anzahl der Attribute (Nicht Lücken sondern Anzahl!!!)

  > div {
    display: flex;
    flex-direction: row;
    color: $prev-color;

    &.tleft {
      text-align: left;

      // Line
      div {
        width: 10vw; //Abhängig von Padding

        &.current {
          color: $current-color;
          font-weight: bold;

          &:before {
            background: $current-color;
            padding: $bullet-radius * 2;
            transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
          }

          &:after {
            height: 0;
            transition: height 0.2s ease-out;
          }

          ~ div {
            color: $next-color;

            &:before {
              background: $next-color;
              padding: -$bullet-radius * 0.5;
            }

            &:after {
              //Linie die vorgezeichnet ist
              height: 2%;
              transform: translateX(-100%);
            }
          }
        }

        // Dot
        &:before {
          content: "";
          background: $strip-color;
          padding: $bullet-radius;
          position: absolute;
          top: $line-height/2;
          transform: translateX(50%) translateY(-50%);
          transition: padding 0.2s ease;
        }

        // Line
        &:after {
          content: "";
          background: $strip-color; //rgba(0, 0, 0, 0.6);
          border-radius: 2px;
          position: absolute;
          right: -$gap/2; //Linie insgesamt verschieben
          top: $line-height/2;
          width: 101%;
          height: $line-thick;
          transition: height 0.2s ease;
        }
      }
    }

    &.tright {
      padding-left: $gap;

      div {

        &:after { //Endlinie (Überlaufend) eigentlich TODO!
          content: "";
          background: fade_out($strip-color, 0.1); //rgba(0, 0, 0, 0.6);
          position: absolute;
          top: $line-height/2;
          height: $line-thick/2;
          transform: translateX(-110%) translateY(-1000%);
          width: 250px;
        }
      }
      //Dreieck einfach dahinter
      border-top: 10px solid transparent; /* skyblue */
      border-right: 10px solid transparent; /* limegreen;  */
      border-bottom: 10px solid transparent; /* orange; */
      border-left: 10px solid black;
    }

    div {
      flex: 1;
      position: relative;
      line-height: $line-height;
      cursor: default;
      min-height: 30px;

      &:last-of-type {
        flex: 0;
      }
    }
  }
}