.timeline-outer {
    height: 20vh;
    min-width: 100vw;
    display: flex;
}

.timeline-outer * {
    box-sizing: border-box;
}

.timeline-progress {
    $gap: 20px;
    $line-height: 20px;
    $bullet-radius: 5px;
    $line-thick: 2px;
    $strip-color: #333;
    $next-color: #666;
    $current-color: #333;
    $prev-color: #333;
    $num-of-dots: 11;

    display: inline-flex;
    width: 91%;
    margin: auto;

    > div {
        display: flex;
        flex-direction: row;
        color: $prev-color;

        // Selected Line
        &.below {
            padding-top: $gap;

            // Line
            div {
                width: 90vw / $num-of-dots;

                p {
                    text-align: left;
                    align-content: end;
                    position: relative;
                }

                &.current {
                    color: $current-color;
                    font-weight: bold;

                    &:before {
                        background: $current-color;
                        padding: $bullet-radius * 2.5 2px;
                        transform: translateY(-30%) translateX(-50%);
                        transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
                    }

                    &:after {
                        width: 0;
                        transition: all 0.2s ease-out;
                    }

                    ~ div {
                        color: $next-color;

                        &:before {
                            background: $next-color;
                            padding: -$bullet-radius * 0.5;
                        }

                        &:after {
                            //Linie die vorgezeichnet ist
                            width: 0;
                            transition: none;
                        }
                    }
                }

                // Dot
                &:before {
                    content: "";
                    background: $strip-color;
                    padding: $bullet-radius 1px;
                    position: absolute;
                    top: -$gap;
                    transform: translateX(-50%) translateY(-35%);
                    transition: all 0.2s ease;
                    left: $gap/1.1;
                }

                // Line
                &:after {
                    content: "";
                    background: $strip-color; //rgba(0, 0, 0, 0.6);
                    border-radius: 2px;
                    position: absolute;
                    top: -$gap;
                    left: $gap/1.1;
                    width: 101%;
                    height: $line-thick;
                    transition: all 0.2s ease;
                }
            }
        }

        // Transparent Line
        &.above {
            padding-bottom: $gap;

            div {
                &:last-of-type:after {
                    display: none;
                }

                &:after {
                    content: "";
                    background: fade_out($strip-color, 0.9); //rgba(0, 0, 0, 0.6);
                    border-radius: 2px;
                    position: absolute;
                    width: 88vw;
                    left: $gap;
                    height: 1px;
                    transform: translateY(50%);
                }
            }
        }

        div {
            flex: 1;
            position: relative;
            cursor: default;
            &:last-of-type {
                flex: 0;
            }
        }
    }
}
