.welcome-container {
    height: 100vh;
    width: 100vw;
    position: relative;

    .welcome-background {
        background-image: url("../data/frauenkirche.jpg");
        background-size: cover;
        background-attachment: fixed;
        filter: blur(10px);
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .welcome-container {
        position: relative;
        transform: translateY(-100%);

        .title-container {
            transition: all 0.1s ease-out;
            font-family: Novar, serif;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;

            .title {
                transition: all 0.1s;
                position: relative;
                text-align: center;
                letter-spacing: 0.1em;
                font-weight: 900;
                margin: 0;
            }

            .subtitle {
                transition: all 0.1s;
                position: relative;
                text-align: center;
                margin: 0;
                letter-spacing: 0.01em;
                font-weight: 300;
            }
        }

        .quote-container {
            position: relative;
            font-family: Novar, serif;
            opacity: 100%;
            width: 100%;
            height: 100%;
        }

        .item {
            position: absolute;
            padding: 15px;
            transition: all 0.2s ease-in-out;
            backdrop-filter: blur(5px);
            background: rgba(white, 0.1);
            box-shadow: 12px 29px 81px 0 rgba(0, 0, 0, 0.3);
            border-radius: 3px 15px 5px 30px;
        }

        .item:hover {
            backdrop-filter: blur(5px);
            background: rgba(white, 0.1);
            transform: scale(1.1);
        }

        .quote1 {
            width: 35vw;
            left: 36vw;
            top: 37vh;
        }

        .quote2 {
            width: 33vw;
            left: 18vw;
            top: 56vh;
        }

        .quotation-mark {
            background: url("icons/quotation-right-mark-svgrepo-com.svg");
            background-size: 30px 30px;
            position: relative;
            width: 30px;
            height: 30px;
        }

        .text {
            text-align: center;
            font-size: 1.9vh;
            margin: 1vh;
        }

        .author {
            font-style: italic;
            text-align: right;
            font-size: 1.3vh;
        }
    }

    .mouse-scroll {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        z-index: 10;
        cursor: pointer;
        overflow: hidden;

        span {
            display: block;
            width: 5px;
            height: 5px;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            margin: 0 0 3px 9px;
        }

        .mouse {
            height: 30px;
            width: 20px;
            border-radius: 12px;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            border: 2px solid #000;
        }

        .mouse-in {
            height: 5px;
            width: 2px;
            display: block;
            margin: 5px auto;
            background: #000;
            position: relative;
            -webkit-animation: animated-mouse 1.2s ease infinite;
            -moz-animation: animated-mouse 1.2s ease infinite;
        }

        .down-arrow-1 {
            margin-top: 6px;
            -webkit-animation: mouse-scroll 1s infinite;
            -moz-animation: mouse-scroll 1s infinite;
            -webkit-animation-delay: 0.1s;
            -moz-animation-delay: 0.1s;
            -webkit-animation-direction: alternate;
        }

        .down-arrow-2 {
            -webkit-animation: mouse-scroll 1s infinite;
            -moz-animation: mouse-scroll 1s infinite;
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            -webkit-animation-direction: alternate;
        }

        .down-arrow-3 {
            -webkit-animation: mouse-scroll 1s infinite;
            -moz-animation: mouse-scroll 1s infinite;
            -webkit-animation-delay: 0.3s;
            -moz-animation-delay: 0.3s;
            -webkit-animation-direction: alternate;
        }
    }

    @-webkit-keyframes animated-mouse {
        0% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translateY(6px);
            -ms-transform: translateY(6px);
            transform: translateY(6px);
        }
    }

    @-webkit-keyframes mouse-scroll {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes mouse-scroll {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }
}
