#scroll {
    position: relative;
}

.graphicContainer {
    padding: 40vh 2vw 20vh;
    display: flex;
    justify-content: space-between;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__graphic .chart {
    position: absolute;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.scroll__text {
    padding: 0 1rem;
    max-width: 30rem;
}

.step {
    opacity: 0;
    padding: 1rem;
}

.step.is-active {
    opacity: 1;
}

.graphic {
    flex-basis: 60%;
    position: sticky;
    width: 100%;
    height: 60vh;
    top: 20vh;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphic p {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.subhed {
    max-width: 600px;
    margin: 10px auto 15px;
    font-size: 22rem;
    line-height: 28px;
    text-align: center;
}

.subhed a {
    color: black;
}

.scroller {
    flex-basis: 35%;
}