.graphicContainer {
    padding: 40vh 2vh 20vh;
    display: flex;
    justify-content: space-between;
}

.scroller {
    flex-basis: 35%;
}

.step {
    margin: 0 auto 3rem auto;
    padding: 180px 0;
    border: 1px solid #333;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    margin: 0;
}

/* Fixed container*/
.graphic {
    flex-basis: 50%;
    position: sticky;
    width: 96vh;
    height: 96vh;
    top: 2vh;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphic p {
    /*background-image: url("/public/assets/images/bayern_all.png");*/
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.subhed {
    max-width: 600px;
    margin: 10px auto 15px;
    font-size: 22rem;
    line-height: 28px;
    text-align: center;
}

.subhed a {
    color: black;
}
