/*Color scheme*/
:root {
    --duration: 0.2s;
    --timing: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    --color-gray-1: rgb(142, 142, 147); /* Tarnsport */
    --color-gray-2: rgb(174, 174, 178);
    --color-gray-3: rgb(199, 199, 204);
    --color-gray-4: rgb(209, 209, 214);
    --color-gray-5: rgb(229, 229, 234);
    --color-gray-6: rgb(242, 242, 247);
    --color-gray-inverted-1: rgb(142, 142, 147);
    --color-gray-inverted-2: rgb(99, 99, 102);
    --color-gray-inverted-3: rgb(72, 72, 74);
    --color-gray-inverted-4: rgb(58, 58, 60);
    --color-gray-inverted-5: rgb(44, 44, 46);
    --color-gray-inverted-6: rgb(28, 28, 30);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(28, 28, 30);
    --color-blue: rgb(0, 122, 255);
    --color-green: rgb(52, 199, 89); /* Nature */
    --color-indigo: rgb(88, 86, 214);
    --color-orange: rgb(255, 149, 0); /* Industrie */
    --color-pink: rgb(255, 45, 85); /* Wohnen */
    --color-purple: rgb(175, 82, 222);
    --color-red: rgb(255, 59, 48); /* Map-> Nutzfläche */
    --color-teal: rgb(90, 200, 250);
    --color-yellow: rgb(255, 204, 0);
    --color-link: var(--color-blue);
    --color-link-visited: var(--color-indigo);
    /* Sonstiges */
}

[data-theme="dark"] {
    --color-gray-1: rgb(142, 142, 147);
    --color-gray-2: rgb(99, 99, 102);
    --color-gray-3: rgb(72, 72, 74);
    --color-gray-4: rgb(58, 58, 60);
    --color-gray-5: rgb(44, 44, 46);
    --color-gray-6: rgb(28, 28, 30);
    --color-gray-inverted-1: rgb(142, 142, 147); /* Tarnsport */
    --color-gray-inverted-2: rgb(174, 174, 178);
    --color-gray-inverted-3: rgb(199, 199, 204);
    --color-gray-inverted-4: rgb(209, 209, 214);
    --color-gray-inverted-5: rgb(229, 229, 234);
    --color-gray-inverted-6: rgb(242, 242, 247);
    --color-black: rgb(255, 255, 255);
    --color-white: rgb(28, 28, 30);
    --color-blue: rgb(10, 132, 255);
    --color-green: rgb(48, 209, 88);
    --color-indigo: rgb(94, 92, 230);
    --color-orange: rgb(255, 159, 10);
    --color-pink: rgb(255, 55, 95);
    --color-purple: rgb(191, 90, 242);
    --color-red: rgb(255, 69, 58);
    --color-teal: rgb(100, 210, 255);
    --color-yellow: rgb(255, 214, 10);
    --color-link: var(--color-pink);
    --color-link-visited: var(--color-orange);
}

:root a:link {
    color: var(--color-link);
}

:root a:visited {
    color: var(--color-link-visited);
}

@font-face {
    font-family: "Liberation Mono";
    src: url("style/fonts/LiberationMono-Regular-webfont.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Liberation Mono";
    src: url("style/fonts/LiberationMono-Bold-webfont.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Liberation Mono";
    src: url("style/fonts/LiberationMono-BoldItalic-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Liberation Mono", Monospace;
    src: url("style/fonts/LiberationMono-Italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    overflow-x: hidden !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", "Liberation Mono", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

* {
    -webkit-transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing),
        background var(--duration) var(--timing);
    -moz-transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing),
        background var(--duration) var(--timing);
    -o-transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing),
        background var(--duration) var(--timing);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing),
        background var(--duration) var(--timing);
}

code {
    font-family: "Liberation Mono", monospace;
}
