/*Color scheme*/
:root {
    --duration: 0.5s;
    --timing: ease;
    --color-gray-1: rgb(142, 142, 147);
    --color-gray-2: rgb(174, 174, 178);
    --color-gray-3: rgb(199, 199, 204);
    --color-gray-4: rgb(209, 209, 214);
    --color-gray-5: rgb(229, 229, 234);
    --color-gray-6: rgb(242, 242, 247);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-blue: rgb(0, 122, 255);
    --color-green: rgb(52, 199, 89);
    --color-indigo: rgb(88, 86, 214);
    --color-orange: rgb(255, 149, 0);
    --color-pink: rgb(255, 45, 85);
    --color-purple: rgb(175, 82, 222);
    --color-red: rgb(255, 59, 48);
    --color-teal: rgb(90, 200, 250);
    --color-yellow: rgb(255, 204, 0);
}

body {
    -webkit-transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
    -moz-transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
    -o-transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
